.item {
  width: 8px;
  min-width: 8px;
  height: 8px;
  min-height: 8px;
  background-color: rgb(156, 153, 202);
  margin: 0.5px;
}

.item.selected {
  background-color: red;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}