.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.grid-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-svg {
  border: 1px solid black;
  z-index: 1;
}

.overlay-svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

.row {
  display: flex;
}

.cell {
  fill: rgb(156, 153, 202);
  stroke: none;
}

.cell.selected {
  fill: red;
}

.line {
  stroke: red;
  stroke-width: 1;
}

.info-container {
  margin-left: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.points-container, .lines-container {
  flex: 1;
  overflow: auto;
}

.points-container h2, .lines-container h2 {
  margin: 0 0 10px 0;
  padding-left: 20px;
}

.points-container ul, .lines-container ul {
  list-style: none;
  padding-left: 20px;
}

.points-container li, .lines-container li {
  margin-bottom: 5px;
}