.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.grid-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-svg {
  border: 1px solid black;
}

.row {
  display: flex;
}

.cell {
  fill: rgb(156, 153, 202);
  stroke: none;
}

.cell.selected {
  fill: red;
}

.line {
  stroke: red;
  stroke-width: 1;
}

.info-container {
  margin-left: 20px;
  color: black;
  text-align: left;
}

.info-container h2 {
  margin: 0 0 10px 0;
}

.info-container ul {
  list-style: none;
  padding-left: 20px;
}

.info-container li {
  margin-bottom: 5px;
}
