.app {
  font-family: sans-serif;
  text-align: center;
}

main {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}